<h2>Java Script Dependency</h2>

    <script src="~/Scripts/emailScript/second.js"></script>
    <script src="~/Scripts/emailScript/first.js"></script>

<div>
    <a href="javascript:second()">method in second js</a><br />
    <a href="javascript:callFirstJsFunction()">method in firstjs ("included" by the first)</a>
</div>