<div class="well form-horizontal bv-form">
    <div>
        gkjsddfdks
    </div>
    <div>
        <button type="button" id="btn_AddServer" class="btn btn-info">Add <span class="glyphicon glyphicon-plus"></span></button>
    </div>
</div>
<script>
    (function () {
        alert('hited');
        $('#btn_AddServer').click(function () {
            $('#ServerConnectForm').removeClass('hide');
            $('#ServerList').addClass('hide');
        })
    })
</script>