<div>
    <form class="well form-horizontal bv-form" data-remote="true" data-toggle="validator" role="form" method="post" id="tableField_form">
        <div class="row">
            <div class="col-xs-5">
                <select name="from[]" id="undo_redo" class="form-control" size="13" multiple="multiple">
                    @*<option value="1">C++</option>
                        <option value="2">C#</option>
                        <option value="3">Haskell</option>
                        <option value="4">Java</option>
                        <option value="5">JavaScript</option>
                        <option value="6">Lisp</option>
                        <option value="7">Lua</option>
                        <option value="8">MATLAB</option>
                        <option value="9">NewLISP</option>
                        <option value="10">PHP</option>
                        <option value="11">Perl</option>
                        <option value="12">SQL</option>
                        <option value="13">Unix shell</option>*@
                </select>
            </div>

            <div class="col-xs-2">
                <button type="button" id="undo_redo_undo" class="btn btn-primary btn-block">undo</button>
                <button type="button" id="undo_redo_rightAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                <button type="button" id="undo_redo_rightSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button type="button" id="undo_redo_leftSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button type="button" id="undo_redo_leftAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                <button type="button" id="undo_redo_redo" class="btn btn-warning btn-block">redo</button>
            </div>

            <div class="col-xs-5">
                <select name="to[]" id="undo_redo_to" class="form-control" size="13" multiple="multiple"></select>  @*size="13"*@
                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" id="multiselect_move_up" class="btn btn-block"><i class="glyphicon glyphicon-arrow-up"></i></button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" id="multiselect_move_down" class="btn btn-block col-sm-6"><i class="glyphicon glyphicon-arrow-down"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:5px">
            <div class="col-xs-5">
                <button type="button" id="btn_ServerConnectPage" class="btn btn-info btn-md pull-right">Previous</button>
            </div>
            <div class="col-xs-2">

            </div>
            <div class="col-xs-5">
                <button type="submit" class="btn btn-warning">Save <span class="glyphicon glyphicon-send"></span></button>
                <button type="button" id="btn_NextPage" class="btn btn-success btn-md pull-left">Next</button>
            </div>
        </div>
    </form>
</div>
<script src="~/Scripts/multiselect.js"></script>
<script src="~/Scripts/TableFieldSelect.js"></script>