<div>
       @using (Html.BeginForm("SaveEmailTemplate", "Mail", FormMethod.Post, new { @class = "well form-horizontal", id = "template_form", enctype = "multipart/form-data" }))
       {
          <fieldset>

            <!-- Form Name -->
          
          
            <input name="Id" id="Id" placeholder="Create a Name" class="hide" type="text">
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Template Name</label>
                <div class="col-md-8 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <input name="TemplateName" id="TemplateName" placeholder="Create a Name" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Select Template</label>
                <div class="col-md-8">
                    <div class="btn btn-primary btn-sm float-left waves-effect waves-light">
                        <span>Choose file</span>
                        <input type="file" name="files" id="files" />
                    </div>                  
                </div>
              </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Description</label>
                    <div class="col-md-8 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="TemplateDescription" id="TemplateDescription" placeholder="add description" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <!-- Success message -->
                <div class="alert alert-success" role="alert" id="success_message">
                    Success <i class="glyphicon glyphicon-thumbs-up"></i>
                    Thanks for saving Template ServerInfo.
                </div>

                <!-- Button -->
                <div class="form-group" id="submit">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                        <span>
                            <button type="submit" class="btn btn-info">Save <span class="glyphicon glyphicon-send"></span></button> @*disabled*@
                        </span>
                        <span>
                                <button type="button" id="templateRefresh" class="btn btn-info">Refresh <span class="glyphicon glyphicon-refresh"></span></button>
                        </span>
                    </div>
                </div>
        </fieldset>
       }
</div>

<script src="~/Scripts/emailScript/templateChild.js"></script>